[

    {lager, [
        {error_logger_hwm, 600},
        {log_root, "/var/log/hellgate"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug}
            ]}
        ]}
    ]},

    {scoper, [
        {storage, scoper_storage_lager}
    ]},

    {hellgate, [
        {ip, "::"},
        {port, 8022},
        {services, #{
            automaton           => <<"http://machinegun:8022/v1/automaton">>,
            eventsink           => <<"http://machinegun:8022/v1/event_sink">>,
            accounter           => <<"http://shumway:8022/accounter">>,
            party_management    => <<"http://hellgate:8022/v1/processing/partymgmt">>,
            customer_management => <<"http://hellgate:8022/v1/processing/customer_management">>,
            recurrent_paytool   => <<"http://hellgate:8022/v1/processing/recpaytool">>,
            sequences           => <<"http://sequences:8022/v1/sequences">>
        }}
    ]},

    {dmt_client, [
        {cache_update_interval, 1000},
        {max_cache_size, #{
            elements => 1
        }},
        {service_urls, #{
            'Repository'        => <<"http://dominant:8022/v1/domain/repository">>,
            'RepositoryClient'  => <<"http://dominant:8022/v1/domain/repository_client">>
        }}
    ]}

].
