[
    {kernel, [
        {log_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => error,
                config => #{
                    type => standard_error
                },
                formatter => {logger_formatter, #{
                    depth => 30
                }}
            }},
            {handler, console_logger, logger_std_h, #{
                level => debug,
                config => #{
                    type => {file, "/var/log/hellgate/console.json"},
                    sync_mode_qlen => 20
                },
                formatter => {logger_logstash_formatter, #{}}
            }}
        ]}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {hellgate, [
        {ip, "::"},
        {port, 8022},
        {services, #{
            automaton           => <<"http://machinegun:8022/v1/automaton">>,
            eventsink           => <<"http://machinegun:8022/v1/event_sink">>,
            accounter           => <<"http://shumway:8022/accounter">>,
            party_management    => <<"http://hellgate:8022/v1/processing/partymgmt">>,
            customer_management => <<"http://hellgate:8022/v1/processing/customer_management">>,
            recurrent_paytool   => <<"http://hellgate:8022/v1/processing/recpaytool">>,
            sequences           => <<"http://sequences:8022/v1/sequences">>
        }}
    ]},

    {dmt_client, [
        {cache_update_interval, 1000},
        {max_cache_size, #{
            elements => 1
        }},
        {service_urls, #{
            'Repository'        => <<"http://dominant:8022/v1/domain/repository">>,
            'RepositoryClient'  => <<"http://dominant:8022/v1/domain/repository_client">>
        }}
    ]}

].
