% Common project erlang options.
{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all
]}.

% Common project dependencies.
{deps, [
    {genlib, {git, "https://github.com/rbkmoney/genlib.git", {branch, "master"}}},
    {cowboy_draining_server, {git, "git@github.com:rbkmoney/cowboy_draining_server.git", {branch, "master"}}},
    {uuid, {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
    {scoper, {git, "git@github.com:rbkmoney/scoper.git", {branch, "master"}}},
    {thrift, {git, "https://github.com/rbkmoney/thrift_erlang.git", {branch, "master"}}},
    {woody, {git, "https://github.com/rbkmoney/woody_erlang.git", {branch, "master"}}},
    {woody_user_identity, {git, "https://github.com/rbkmoney/woody_erlang_user_identity.git", {branch, "master"}}},
    {erl_health, {git, "https://github.com/rbkmoney/erlang-health.git", {branch, "master"}}},
    {machinery, {git, "git@github.com:rbkmoney/machinery.git", {branch, "master"}}},
    {gproc, "0.8.0"},
    {hackney, "1.15.1"},
    {cowboy, "2.7.0"},
    {jose, "1.10.1"},
    {base64url, "0.0.1"},
    {jsx, "2.9.0"},
    {prometheus, "4.6.0"},
    {prometheus_cowboy, "0.1.8"},
    {cds_proto, {git, "git@github.com:rbkmoney/cds-proto.git", {branch, "master"}}},
    {damsel, {git, "git@github.com:rbkmoney/damsel.git", {branch, "release/erlang/master"}}},
    {dmt_client, {git, "https://github.com/rbkmoney/dmt_client.git", {branch, master}}},
    {id_proto, {git, "git@github.com:rbkmoney/identification-proto.git", {branch, "master"}}},
    {identdocstore_proto, {git, "git@github.com:rbkmoney/identdocstore-proto.git", {branch, "master"}}},
    {fistful_proto, {git, "git@github.com:rbkmoney/fistful-proto.git", {branch, "master"}}},
    {fistful_reporter_proto, {git, "git@github.com:rbkmoney/fistful-reporter-proto.git", {branch, "master"}}},
    {file_storage_proto, {git, "git@github.com:rbkmoney/file-storage-proto.git", {branch, "master"}}},
    {shumpune_proto, {git, "git@github.com:rbkmoney/shumpune-proto.git", {branch, "master"}}},
    {binbase_proto, {git, "git@github.com:rbkmoney/binbase-proto.git", {branch, "master"}}},
    {party_client, {git, "git@github.com:rbkmoney/party_client_erlang.git", {branch, "master"}}},
    {uac, {git, "https://github.com/rbkmoney/erlang_uac.git", {branch, master}}},
    {bender_client, {git, "git@github.com:rbkmoney/bender_client_erlang.git", {branch, "master"}}},
    {lechiffre, {git, "git@github.com:rbkmoney/lechiffre.git", {branch, "master"}}},
    {cowboy_cors, {git, "https://github.com/rbkmoney/cowboy_cors.git", {branch, master}}},
    {cowboy_access_log, {git, "git@github.com:rbkmoney/cowboy_access_log.git", {branch, "master"}}},
    {payproc_errors, {git, "git@github.com:rbkmoney/payproc-errors-erlang.git", {branch, "master"}}},
    {logger_logstash_formatter, {git, "git@github.com:rbkmoney/logger_logstash_formatter.git", {branch, "master"}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {prod, [
        {deps, [
            % Introspect a node running in production
            {recon, "2.3.4"}
        ]},
        {relx, [
            {release, {'fistful-server', "0.1"}, [
                % debugger
                {runtime_tools, load},
                % profiler
                {tools, load},
                {recon, load},
                {logger_logstash_formatter, load},
                wapi
            ]},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {mode, prod},
            {extended_start_script, true},
            %% wapi
            {overlay, [
                {mkdir, "var/keys/wapi"},
                {copy, "apps/wapi/var/keys/wapi/private.pem", "var/keys/wapi/private.pem"}
            ]}
        ]}
    ]},

    {test, [
        {deps, [
            {meck, "0.9.0"}
        ]},
        {cover_enabled, true},
        {cover_excl_apps, [
            ff_cth,
            swag_client_payres,
            swag_client_wallet,
            swag_server_wallet
        ]}
    ]}
]}.

{plugins, [
    {erlfmt, "0.8.0"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, [
        "apps/ff*/{src,include,test}/*.{hrl,erl}",
        "apps/fistful/{src,include,test}/*.{hrl,erl}",
        "apps/machinery_extra/{src,include,test}/*.{hrl,erl}",
        "apps/p2p/{src,include,test}/*.{hrl,erl}",
        "apps/w2w/{src,include,test}/*.{hrl,erl}",
        "apps/wapi*/{src,include,test}/*.{hrl,erl}"
    ]}
]}.
