% Common project erlang options.
{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all
]}.

% Common project dependencies.
{deps, [
    {prometheus, "4.8.1"},
    {prometheus_cowboy, "0.1.8"},
    {genlib, {git, "https://github.com/rbkmoney/genlib.git", {branch, "master"}}},
    {uuid, {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
    {scoper, {git, "https://github.com/rbkmoney/scoper.git", {branch, "master"}}},
    {thrift, {git, "https://github.com/rbkmoney/thrift_erlang.git", {branch, "master"}}},
    {woody, {git, "https://github.com/rbkmoney/woody_erlang.git", {branch, "master"}}},
    {woody_user_identity, {git, "https://github.com/rbkmoney/woody_erlang_user_identity.git", {branch, "master"}}},
    {erl_health, {git, "https://github.com/rbkmoney/erlang-health.git", {branch, "master"}}},
    {machinery, {git, "https://github.com/rbkmoney/machinery.git", {branch, "master"}}},
    {damsel, {git, "https://github.com/rbkmoney/damsel.git", {branch, "release/erlang/master"}}},
    {dmt_client, {git, "https://github.com/rbkmoney/dmt_client.git", {branch, master}}},
    {id_proto, {git, "https://github.com/rbkmoney/identification-proto.git", {branch, "master"}}},
    {fistful_proto, {git, "https://github.com/rbkmoney/fistful-proto.git", {branch, "ED-303/ft/withdrawal_repair_tools"}}},
    {binbase_proto, {git, "https://github.com/rbkmoney/binbase-proto.git", {branch, "master"}}},
    {party_client, {git, "https://github.com/rbkmoney/party_client_erlang.git", {branch, "master"}}},
    {shumpune_proto, {git, "https://github.com/rbkmoney/shumpune-proto.git", {ref, "4c87f03"}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{project_app_dirs, [
    "apps/ff_core",
    "apps/ff_server",
    "apps/ff_transfer",
    "apps/fistful",
    "apps/machinery_extra",
    "apps/w2w"
]}.

{profiles, [
    {prod, [
        {deps, [
            {how_are_you, {git, "https://github.com/rbkmoney/how_are_you.git", {ref, "2fd80134"}}},
            {woody_api_hay, {git, "https://github.com/rbkmoney/woody_api_hay.git", {ref, "4c39134cd"}}},
            % Introspect a node running in production
            {recon, "2.5.2"},
            {logger_logstash_formatter,
                {git, "https://github.com/rbkmoney/logger_logstash_formatter.git", {ref, "87e52c7"}}}
        ]},
        {relx, [
            {release, {'fistful-server', "0.1"}, [
                % debugger
                {runtime_tools, load},
                % profiler
                {tools, load},
                {recon, load},
                {logger_logstash_formatter, load},
                woody_api_hay,
                how_are_you,
                sasl,
                ff_server
            ]},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {mode, minimal},
            {extended_start_script, true}
        ]}
    ]},

    {test, [
        {deps, [
            {meck, "0.9.2"},
            {jose, "1.11.2"},
            {identdocstore_proto, {git, "https://github.com/rbkmoney/identdocstore-proto.git", {branch, "master"}}},
            {cds_proto, {git, "https://github.com/rbkmoney/cds-proto.git", {branch, "master"}}}
        ]},
        {project_app_dirs, ["apps/*"]},
        {cover_enabled, true},
        {cover_excl_apps, [ff_cth]},
        {dialyzer, [{plt_extra_apps, [eunit, common_test, meck, jose, identdocstore_proto]}]}
    ]}
]}.

{plugins, [
    {erlfmt, "1.0.0"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, [
        "apps/ff*/{src,include,test}/*.{hrl,erl,app.src}",
        "apps/fistful/{src,include,test}/*.{hrl,erl,app.src}",
        "apps/machinery_extra/{src,include,test}/*.{hrl,erl,app.src}",
        "apps/w2w/{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config",
        "elvis.config"
    ]}
]}.
