{erl_opts, [
    {parse_transform, ct_expand}
]}.

{deps, [
    {email_validator, "1.0.0"},
    {jsx,         "3.0.0"},
    {jesse,       {git, "https://github.com/rbkmoney/jesse.git",       {ref, "9b980b7f9ce09b6a136fe5a23d404d1b903f3061"}}},
    {parse_trans, {git, "https://github.com/uwiger/parse_trans.git",   {ref, "8ba366f81789c913cd63d69c6d1da948c200d18a"}}}
]}.
