[

    {lager, [
        {error_logger_hwm, 600},
        {log_root, "/var/log/fistful-server"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug},
                {formatter, lager_logstash_formatter}
            ]}
        ]}
    ]},

    {scoper, [
        {storage, scoper_storage_lager}
    ]},

    {fistful, [
        {providers, #{
            <<"ncoeps">> => #{
                payment_institution_id => 100,
                identity_classes       => #{
                    <<"person">>          => #{
                        name                 => <<"Person">>,
                        contact_template_id  => 10000,
                        levels               => #{
                            <<"esia">>          => {...}
                        }
                    }
                }
            }
        }}
    ]},

    {fistful_server, [
        {ip, "::"},
        {port, 8022},
        {net_opts, [
            % Bump keepalive timeout up to a minute
            {timeout, 60000}
        ]}
    ]}

].
