[

    {lager, [
        {error_logger_hwm, 600},
        {log_root, "/var/log/fistful-server"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug},
                {formatter, lager_logstash_formatter}
            ]}
        ]}
    ]},

    {scoper, [
        {storage, scoper_storage_lager}
    ]},

    %% {fistful, [
    %%     {providers, #{
    %%         <<"ncoeps">> => #{
    %%             payment_institution_id => 100,
    %%             identity_classes       => #{
    %%                 <<"person">>          => #{
    %%                     name                 => <<"Person">>,
    %%                     contact_template_id  => 10000,
    %%                     levels               => #{
    %%                         <<"esia">>          => {...}
    %%                     }
    %%                 }
    %%             }
    %%         }
    %%     }}
    %% ]},

    %% {fistful_server, [
    %%     {ip, "::"},
    %%     {port, 8022},
    %%     {net_opts, [
    %%         % Bump keepalive timeout up to a minute
    %%         {timeout, 60000}
    %%     ]}
    %% ]},

    %% wapi
    {wapi, [
        {ip, "::"},
        {port, 8080},
        %% To send ASCII text in 5xx replies
        %% {oops_bodies, #{
        %%     500 => "oops_bodies/500_body"
        %% }},
        {reporter_url_lifetime, 60}, % seconds
        {service_type, real},
        {authorizers, #{
            jwt => #{
                signee => wapi,
                keyset => #{
                    wapi     => {pem_file, "var/keys/wapi/private.pem"}
                }
            }
        }},
        {health_checkers, [
            {erl_health, disk     , ["/", 99]   },
            {erl_health, cg_memory, [99]        },
            {erl_health, service  , [<<"wapi">>]}
        ]},
        {service_urls, #{
            webhook_manager     => "http://hooker:8022/hook",
            cds_storage         => "http://cds:8022/v1/storage"
        }}
    ]}

].
