[

    {lager, [
        {error_logger_hwm, 600},
        {log_root, "/var/log/fistful-server"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug},
                {formatter, lager_logstash_formatter}
            ]}
        ]}
    ]},

    {scoper, [
        {storage, scoper_storage_lager}
    ]},

    {dmt_client, [
        {max_cache_size, #{
            elements => 1
        }},
        {service_urls, #{
            'Repository'       => <<"http://dominant:8022/v1/domain/repository">>,
            'RepositoryClient' => <<"http://dominant:8022/v1/domain/repository_client">>
        }}
    ]},

    {fistful, [
        {providers, #{
            <<"ncoeps">> => #{
                payment_institution_id => 100,
                identity_classes       => #{
                    <<"person">>          => #{
                        name                 => <<"Person">>,
                        contact_template_id  => 10000,
                        initial_level        => <<"anonymous">>,
                        levels               => #{
                            <<"anonymous">>     => #{
                                name               => <<"Anonymous">>,
                                contractor_level   => none
                            },
                            <<"partly-identified">> => #{
                                name               => <<"Partially identified">>,
                                contractor_level   => partial
                            },
                            <<"identified">>    => #{
                                name               => <<"Fully identified">>,
                                contractor_level   => full
                            }
                        },
                        challenges           => #{
                            <<"esia">>          => #{
                                name               => <<"ЕСИА">>,
                                base               => <<"anonymous">>,
                                target             => <<"partly-identified">>
                            }
                        }
                    }
                }
            }
        }},
        {services, #{
            'partymgmt' => "http://hellgate:8022/v1/processing/partymgmt",
            'accounter' => "http://shumway:8022/accounter"
        }}
    ]},

    {ff_server, [
        {ip, "::"},
        {port, 8022},
        {woody_opts, #{
            net_opts => [
                % Bump keepalive timeout up to a minute
                {timeout, 60000}
            ]
        }},
        {services, #{
            'automaton' => "http://machinegun:8022/v1/automaton"
        }}
    ]}

].
