[
    {lager, [
        {log_root, "/var/log/identification"},
        {handlers, [
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug}
            ]}
        ]}
    ]},

    {scoper, [
        {storage, scoper_storage_lager}
    ]},

    {identification, [
        {ip, "::"},
        {port, 8022},
        {net_opts, [
            {timeout, 60000}
        ]},
        {handlers, #{
            identification => #{
                path => <<"/v1/identification">>
            },
            identification_judge => #{
                path => <<"/v1/identification-judge">>
            }
        }},
        {machines, #{
            identity => #{
                path => <<"/v1/stateproc/identity">>
            },
            claim => #{
                path => <<"/v1/stateproc/identity-claim">>
            }
        }},
        {clients, #{
            automaton => #{
                url => <<"http://machinegun:8022/v1/automaton">>,
                namespaces => #{
                    identity => <<"identity">>,
                    claim    => <<"identity-claim">>
                }
            },
            proof_service => #{
                url => <<"http://uprid:8080/v1/api">>
            },
            proof_storage => #{
                url => <<"http://cds:8022/v1/identity_document_storage">>
            }
        }}
    ]}
].
