[
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => debug,
                config => #{
                    type => {file, "/var/log/identification/console.json"},
                    sync_mode_qlen => 2000,
                    drop_mode_qlen => 2000,
                    flush_qlen => 3000
                },
                formatter => {logger_logstash_formatter, #{}}
            }}
        ]}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {identification, [
        {ip, "::"},
        {port, 8022},
        {protocol_opts, #{
            request_timeout => 5000
        }},
        {handlers, #{
            identification => #{
                path => <<"/v1/identification">>
            },
            identification_judge => #{
                path => <<"/v1/identification-judge">>
            }
        }},
        {machines, #{
            identity => #{
                path => <<"/v1/stateproc/identity">>
            },
            claim => #{
                path => <<"/v1/stateproc/identity-claim">>
            }
        }},
        {clients, #{
            automaton => #{
                url => <<"http://machinegun:8022/v1/automaton">>,
                namespaces => #{
                    identity => <<"identity">>,
                    claim => <<"identity-claim">>
                }
            },
            proof_service => #{
                url => <<"http://uprid:8080/v1/api">>
            },
            proof_storage => #{
                url => <<"http://cds:8022/v1/identity_document_storage">>
            }
        }}
    ]}
].
