[

    {dmt_api, [
        {repository, dmt_api_repository_v4},
        {migration, #{
            timeout => 360,
            limit   => 20
        }},
        {automaton_service_url, "http://machinegun:8022/v1/automaton"},
        {ip, "::"},
        {port, 8022},
        {net_opts, [
            % Bump keepalive timeout up to a minute
            {timeout, 60000}
        ]},
        {max_cache_size, 52428800}, % 50Mb
        {health_checkers, [
            {erl_health, disk     , ["/", 99]       },
            {erl_health, cg_memory, [99]            },
            {erl_health, service  , [<<"dominant">>]}
        ]}
    ]},

    {scoper, [
        {storage, scoper_storage_lager}
    ]},

    {lager, [
        {error_logger_redirect, true},
        {log_root, "/var/log/dominant"},
        {handlers, [
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug},
                {formatter, lager_logstash_formatter}
            ]}
        ]}
    ]}

].
