[

    {dmt_api, [
        {ip, "::"},
        {port, 8022},
        {automaton_service_url, <<"http://machinegun:8022/v1/automaton">>},
        {net_opts, [
            {timeout, 60000}
        ]},
        {max_cache_size, 52428800}
    ]},

    {scoper, [
        {storage, scoper_storage_lager}
    ]},

    {lager, [
        {error_logger_redirect, true},
        {log_root, "/var/log/dominant"},
        {handlers, [
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug}
            ]}
        ]}
    ]}

].
