[
    {kernel, [
        {logger_sasl_compatible, false},
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                config => #{
                    type => file,
                    file => "/var/log/dominant/console.json"
                },
                formatter => {logger_logstash_formatter, #{}}
            }}
        ]}
    ]},

    {dmt_api, [
        {repository, dmt_api_repository_v5},
        {migration, #{
            timeout       => 360,
            limit         => 20,
            read_only_gap => 1000
        }},
        {ip, "::"},
        {port, 8022},
        {default_woody_handling_timeout, 30000},
        {scoper_event_handler_options, #{
            event_handler_opts => #{
                formatter_opts => #{
                    max_length => 1000
                }
            }
        }},
        {woody_event_handlers, [
            {scoper_woody_event_handler, #{
                event_handler_opts => #{
                    formatter_opts => #{
                        max_length => 1000,
                        max_printable_string_length => 80
                    }
                }
            }}
        ]},
        {transport_opts, #{
            max_connections => 1024
        }},
        {protocol_opts, #{
            % http keep alive timeout in ms
            request_timeout => 60000,
            % Should be greater than any other timeouts
            idle_timeout => infinity
        }},
        {max_cache_size, 52428800}, % 50Mb
        {health_checkers, [
            {erl_health, disk     , ["/", 99]       },
            {erl_health, cg_memory, [99]            },
            {erl_health, service  , [<<"dominant">>]}
        ]},
        {services, #{
            automaton => #{
                url => "http://machinegun:8022/v1/automaton",
                transport_opts => #{
                    pool => woody_automaton,
                    timeout => 1000,
                    max_connections => 1024
                }
            }
        }}
    ]},

    {os_mon, [
        % for better compatibility with busybox coreutils
        {disksup_posix_only, true}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {snowflake, [
        {max_backward_clock_moving, 1000},  % 1 second
        {machine_id, hostname_hash}
    ]}
].
