[
    {cds, [
        {ip, "::"},
        {port, 8022},
        {scrypt_opts, {16384, 8, 1}},
        {storage, cds_storage_ets},
        {session_cleaning, #{
            interval => 3000,
            batch_size => 5000,
            session_lifetime => 3600
        }},
        {recrypting, #{
            interval => 3000,
            batch_size => 5000
        }},
        {keyring, #{
            url => <<"http://kds:8023">>,
            ssl_options => []
        }},
        {keyring_fetch_interval, 1000},
        {health_check, #{
            disk => {erl_health, disk, ["/", 99]},
            memory => {erl_health, cg_memory, [99]},
            service => {erl_health, service, [<<"cds">>]}
        }}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {kernel, [
        {logger_sasl_compatible, false},
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                config => #{
                    type => {file, "/var/log/cds/console.json"}
                },
                formatter => {logger_logstash_formatter, #{}}
            }}
        ]}
    ]},

    {os_mon, [
        {disksup_posix_only, true}
    ]},

    {how_are_you, [
        {metrics_publishers, [
            % {hay_statsd_publisher, #{
            %     key_prefix => <<"cds.">>,
            %     host => "localhost",
            %     port => 8125
            % }}
        ]}
    ]},

    {snowflake, [
        % 1 second
        {max_backward_clock_moving, 1000},
        {machine_id, hostname_hash}
    ]}
].
