[

    {cds, [
        {ip, "::"},
        {port, 8022},
        {net_opts, [
            {timeout, 60000}
        ]},
        {scrypt_opts, {256, 8, 1}},
        {keyring_storage, cds_keyring_storage_env},
        {storage, cds_storage_ets},
        {session_cleaning, #{
            interval => 10000,
            batch_size => 5000,
            session_lifetime => 3600
        }},
        {recrypting, #{
            interval => 10000,
            batch_size => 5000
        }}
    ]},

    {lager, [
        {error_logger_redirect, true},
        {log_root, "/var/log/cds"},
        {handlers, [
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug}
            ]}
        ]}
    ]}

].
