[
    {cds, [
        {ip, "::"},
        {port, 8022},
        {transport_opts, #{}},
        {protocol_opts, #{
            request_timeout => 60000
        }},
        {shutdown_timeout, 0},
        {scrypt_opts, {16384, 8, 1}},
        {storage, cds_storage_ets},
        % {storage, cds_storage_riak},
        % {cds_storage_riak, #{
        %     conn_params => #{
        %         host => "riakdb",
        %         port => 8087
        %     },
        %     timeout => 5000 % milliseconds
        % }},
        {session_cleaning, #{
            interval => 3000,
            batch_size => 5000,
            session_lifetime => 3600
        }},
        {recrypting, #{
            interval => 3000,
            batch_size => 5000
        }},
        {health_checkers, [
            {erl_health, disk     , ["/", 99]  },
            {erl_health, cg_memory, [99]       },
            {erl_health, service  , [<<"cds">>]}
        ]},
        {keyring, #{
            url => <<"https://kds:8023">>,
            ssl_options => [
                {server_name_indication, "Test Server"},
                {verify, verify_peer},
                {cacertfile, "/var/lib/cds/ca.crt"},
                {certfile, "/var/lib/cds/client.pem"}
            ],
            transport_opts => #{
                recv_timeout => 10000,
                connect_timeout => 1000
            },
            timeout => 10000
        }},
        {keyring_fetch_interval, 1000}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {kernel, [
        {logger_sasl_compatible, false},
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                config => #{
                    type => {file, "/var/log/cds/console.json"}
                },
                formatter => {logger_logstash_formatter, #{
                    message_redaction_regex_list => [
                        "[0-9]{12,19}", %% pan
                        "[0-9]{2}.[0-9]{2,4}", %% expiration date
                        "[0-9]{3,4}" %% cvv
                    ]
                }}
            }}
        ]}
    ]},

    {os_mon, [
        {disksup_posix_only, true}
    ]},

    {how_are_you, [
        {metrics_publishers, [
            % {hay_statsd_publisher, #{
            %     key_prefix => <<"cds.">>,
            %     host => "localhost",
            %     port => 8125
            % }}
        ]}
    ]}
].
